h3 {
    color:black;
}

li {
    list-style-type:'#';
}

.margins {
    margin: 2vh 3vh;
    align-items: center;
    justify-content: center;
}

.highlighted {
    background-color: firebrick;
    border-radius: 1vh;
    margin: 1vh 3vh;
    padding: .5vh;
    width: 50vw;
    color:honeydew;
    align-items: center;
    justify-content: center;
}

.aboutpage {
    /* background-color: dimgray; */
    height: 100vh;
    width: 100vw;
}

.listHead {
    color: honeydew;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border-radius: 1vh;
    background-color: rgb(69, 0, 0);
    margin: 3vh 20vh 0vh 3vh;
    width: 50vw;
}

.listItem {
    margin: 1vh 0vh 0vh 0vh;
    align-items: center;
    justify-content: center;
}

.skillLine {
    width: 50vw;
    position: relative;
    margin: 0vh 0vh 0vh 3vh;
}