.pstyle {
    font-size: 2vh;
    margin-left: 5vw;
}

.skillLine {
    width: 90vw;
    position: relative;
    margin: 1vh 1vw 1vh 3.5vw;
}

.highlighted {
    
    border-radius: 1vh;
    margin: 1vh 0vw 1vh 4vw;
    padding: .15vh 0vw 1.5vh 1vw;
    width: 4em;
    height: 4vh;
    color: #b22222;
    font-size: 4vh;
}

/* .SkillWrapper {
    display: block;
} */

.SkillContainer {
    background-color: #b22222;
    height: 30vh;
    width: 56vw;
    margin: 0vh 0vw 2vh 5vw;
    padding: 1vh 2vw;
    z-index: 1;
    border-radius: 1vh;
}

.listHead {
    color: honeydew;
    padding: 0vh 0vw;
    margin: 1vh 1vw 1vh 1vw;
    width: 60vw;
    z-index: 2;
}

.slitems {
    list-style-type:'#';
    color: honeydew;
    align-items: center;
    justify-content: center;
    font-size: 2.25vh;
    margin: 0vh 0vw 0vh 0vw;
    padding: 0vh 0vw 0vh 0vw 
}

.helloWorld {
    display: flex;

}