.Wrapper {
    background-color: #780000;
    /* background-image: linear-gradient(0deg, white 3%, #780000 20%); */
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    margin: 0;
}

.Container01 {
    display: inline-flex;
    height: 7.5vh;
    align-items: center;
    justify-content: baseline;
    margin-left: 4vw;
    padding: 1vh 1vw;
}

.Title {
    color:honeydew;
}

/* .listContainer01 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
}

li {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1vw;
    text-decoration: none;
    list-style-type: none;
    margin: 5vh;
    font-size: 5vh;
    background-color: rgb(200, 0, 0);
    align-items: center;
    justify-content: center;
} */